        body {
            background-color: #FAFAFA;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            color: hsl(229, 6%, 66%);
        }

        h1,
        h2 {
            color: hsl(234, 12%, 34%);
        }

        header {
            margin: 0 auto;
            text-align: center;
            margin-top: 50px;
            width: 580px;
        }

        .h1LowFontWeight {
            font-weight: 200;
        }

        .parentBox {
            margin: 0 auto;
            width: 70vw;
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        .childBox {
            width: 400px;
            background-color: #fff;
            box-sizing: border-box;
            border-top-width: thick;
            border-top-style: inset;
            border-radius: 10px;
            -webkit-box-shadow: 0px 20px 38px -10px rgba(209, 209, 209, 1);
            -moz-box-shadow: 0px 20px 38px -10px rgba(209, 209, 209, 1);
            box-shadow: 0px 20px 38px -10px rgba(209, 209, 209, 1);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            margin: 0 10px 20px;
            min-width: 375px;
        }

        .Red {
            border-top-color: hsl(0, 78%, 62%);
            margin-bottom: 25px;
        }

        .Cayan {
            border-top-color: hsl(180, 62%, 55%);
            align-self: center;
        }

        .Blue {
            border-top-color: hsl(212, 86%, 64%);
            align-self: center;
        }

        .Orange {
            border-top-color: hsl(34, 97%, 64%);
        }

        .imageIcon {
            align-self: flex-end;
            padding-top: 30px;
        }